.col-lg-3.col-sm-3
  .thumbnail.thumbnail-staff
    %img.img-responsive.img-staff
      - if user.avatar?
        = cl_image_tag(user.avatar.path, { size: '150x150' })
      - else
        = image_tag(user.small_cover.to_s, size: "150x150")
    .caption
      %h5
        = link_to "#{user.first_name} #{user.last_name}", user_path(user.id)
      %h5
        = link_to "#{user.organization.name}", organization_path(user.organization.id) if user.organization
      %h5
        = "Organization's Administrator" if user.organization_administrator
        = "Freelancer" if user.volunteer
        = "#{user.position}" if user.organization_staff
        %btn
          = link_to "Message",new_message_path(user_id: user.id), class: 'btn btn-primary btn-block'